/* .container{
    background-color: yellow;
} */

.content{
    /* background-color: blue; */
    display: grid;
    grid-template-areas: "title-empty title-items"
    "filter-left items-box";
    grid-template-columns: 1fr 4fr;
    position: relative;
}

.title-empty{
    grid-area: title-empty;
}

.title-items{
    grid-area: title-items;
    margin-bottom: 24px;
    text-align: center;
}

.items-box{
    grid-area: items-box;
}

/* FILTER LEFT */

.filter-left{
    grid-area: filter-left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    /* position: fixed; */
}

.filter-flex{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}

.filter-kinds, .filter-size{
    border-bottom: 1px solid #666;
}

/* FILTER KINDS */

.filter-kinds-box{
    padding: 10px 0;
    list-style: none;
    max-height: 150px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-kinds-box li a{
    background-color: #ddd;
    padding: 10px;
    display: block;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.filter-kinds-box li a:hover{
    background-color: rgb(251, 182, 182);
    color: #fff;
}

.filter-kinds-box li.selected a{
    background-color: rgb(255, 101, 101);
    color: #fff;
}

/* FILTER-LEFT FILTER-SIZE */

/* .filter-size .filter-flex .filter-flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 0.5px solid black;
    box-shadow: none;
    font-size: 0.8em;
} */

.filter-size .filter-flex .filter-flex-item a:hover{
    background-color: black;
    color: #fff;
}

.filter-size .filter-flex .filter-flex-item a{
    text-align: center;
    text-decoration: none;
    color: black;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    font-size: 0.8em;
}

/* .filter-size .filter-flex .filter-flex-item a:hover{
    text-align: center;
    color: #fff;
} */

.filter-size .filter-flex .filter-flex-item.selected a{
    background-color: black;
    font-weight: bold;
    color: #fff;
}

.filter-size .filter-flex .filter-flex-item.not-available a{
    border: 1px solid #ddd;
    color: #ddd;
}

/* FILTER-LEFT FILTER-COLOR */

.filter-color .filter-flex .filter-flex-item{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    box-shadow: none;
}

.filter-color .filter-flex-item a{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background-color: aquamarine; */
    border: 0.5px solid #666;
}

.filter-color .filter-flex-item a:hover{
    border: 2px solid black;
}

.filter-color .filter-flex-item.selected a{
    border: 2px solid black;
}


.c1{
    background-color: #fff;
}

.c2{
    background-color: yellow;
}

.c3{
    background-color: cornflowerblue;
}

.c4{
    background-color: bisque;
}

.c5{
    background-color: chocolate;
}

.c6{
    background-color: chartreuse;
}

.c7{
    background-color: darkorchid;
}

.c8{
    background-color: fuchsia;
}


/* .filter-left h4.filter-name{
    margin-bottom: 10px;
} */


.items-container{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    gap: 15px;
    padding: 0 15px;
    justify-items: center;
}

/* Box Item Bigger (box-bigger) */
.box-bigger-img{
    position: relative;
    height: 350px;
    /* width: 170px; */
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.box-bigger-img .badge-left{
    position: absolute;
    left: 8px;
    top: 8px;
    color: #fff;
    padding: 5px;
    background-color: rgb(251, 182, 182) ;
    border-radius: 10px;
    font-size: 0.7em;
}

.box-bigger-img .love-right{
    position: absolute;
    right: 8px;
    top: 8px;
}

.box-bigger-img .love-right span{
    color: #fff;
    font-size: 1.8em;
}

.box-bigger-img .love-right span:hover{
    color: red;
    cursor: pointer;
}

.box-bigger-pricebox{
    border-top: 1px solid #666;
    width: 170px;
}

.box-bigger-pricebox .original-price{
    margin-bottom: 8px;
}

.box-bigger-titlebox h5{
    font-weight: 100;
}

.box-bigger-titlebox a{
    color: black;
}

.box-bigger-titlebox h4{
    color: rgb(255, 101, 101);
}

.box-bigger-titlebox a:hover{
    text-decoration: underline;
}

.box-bigger-titlebox{
    width: 170px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.box-item-bigger a{
    text-decoration: none;
    cursor: pointer;
}


/* Responsive Breakpoints */

/* Shrink window */
@media screen and (max-width:1024px) {
    
}

/* Tablet */
@media screen and (max-width:768px) {
    /* .content{

    } */

    .box-bigger-img{
        height: 300px;
    }
    
}

/* Mobile */
@media screen and (max-width:600px) {

    nav{
        border-bottom: 1px solid #ddd;
    }

    .filter-left, .title-empty{
        display: none;
    }

    .content{
        grid-template-areas: 'title-items' 'items-box';
        grid-template-columns: 1fr;
    }

    .box-bigger-img{
        height: 250px;
    }

    .filter-right{
        z-index: 100;
        position:absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: blue;
        height: 100vh;
        width: 50%;
        display: block;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        overflow-y: auto;
        text-align: right;
    }

    .filter-right .slide{
        transform: translateX(0);
        opacity: 1;
        position: fixed;
    }

    .filter-button-container{
        position: fixed;
        bottom:0;
        height: 7%;
        left: 0;
        right: 0;
        background-color: aqua;
        display: flex;
    }

    .filter-button-container button{
        width: 100%;
        border: 0;
        color: #666;
    }

}